<div class="container">

 <%= render "layouts/navigation" %>
 
  <div class="row" id="search">
              <form>
                   <div class="col-lg-11 col-xs-12">
                        <div class="input-group input-group-lg">
                          <input type="text" class="form-control" placeholder="Pretraga...">
                          <span class="input-group-btn">
                              <button class="btn btn-default" type="button"> <span class="glyphicon glyphicon-search"></span> </button>
                          </span>
                        </div><!-- /input-group --> 
                   </div>
              </form>
           </div>

            <!--BOTTOM BUTTONS-->
            
            <div class="bottom">
                <div class="row" >

                <%= link_to new_user_registration_path do%>
                <div class="bottom-buttons col-md-6 col-sm-6 col-xs-12">
                    <div class="inner">
                    besplatan portal
                    </div>
                    </div>
                    <% end %>


                <a href="#"><div class="bottom-buttons col-md-6 col-sm-6 col-xs-12">
                    <div class="inner">
                    premijum portal
                    </div>
                    </div></a>


                </div>
            </div>
            
            
       </div>