<div class="container" id="sheet">

            <div id="head">
                Rezultat pretrage
            </div>
            
            <div class="row">
                <div class="col-md-4 kateg-div">
                    <div class="kat-head">
                        Kategorije
                    </div>
                    <a href="#"><div class="kat-res">Auto oprema i servisi</div></a>
                    <a href="#"><div class="kat-res">Butici</div></a>
                    <a href="#"><div class="kat-res">Građevinarstvo, materijali i alati</div></a>
                    <a href="#"><div class="kat-res">Edukacija</div></a>
                    <a href="#"><div class="kat-res">Finansijske usluge</div></a>
                    <a href="#"><div class="kat-res">Informacione tehnologije</div></a>
                    <a href="#"><div class="kat-res">Knjižare, kopirnice i foto radnje</div></a>
                    <a href="#"><div class="kat-res">Kozmetički saloni</div></a>
                    <a href="#"><div class="kat-res">Majstori i majstorice</div></a>
                    <a href="#"><div class="kat-res">Nameštaj</div></a>
                    <a href="#"><div class="kat-res">Organizacije i udruženja</div></a>
                    <a href="#"><div class="kat-res">Poljoprivreda</div></a>
                    <a href="#"><div class="kat-res">Pravne usluge</div></a>  
                    <a href="#"><div class="kat-res">Sport</div></a>
                    <a href="#"><div class="kat-res">Tehnika</div></a>
                    <a href="#"><div class="kat-res">Transport</div></a>
                    <a href="#"><div class="kat-res">Trgovina i trgovinski objekti</div></a>
                    <a href="#"><div class="kat-res">Turizam</div></a> 
                    <a href="#"><div class="kat-res">Ugostiteljstvo</div></a>
                    <a href="#"><div class="kat-res">Zdravlje</div></a>
                </div>
            
                <div class="col-md-8 col-sm-12 col-xs-12">
                    <div class="kat-head">
                        Rezultat za <%= params[:search] %>
                    </div>
                    
                    <%= render 'users', obj: @users %>
                    
                  
                
            </div>
            
        </div> <!--Container nb2 End-->
       